@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: sans-serif;
	--font-mono: monospace;
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--font-serif: serif;
	--radius: 0.5rem;
	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
	--tracking-normal: var(--tracking-normal);
	--shadow-2xl: var(--shadow-2xl);
	--shadow-xl: var(--shadow-xl);
	--shadow-lg: var(--shadow-lg);
	--shadow-md: var(--shadow-md);
	--shadow: var(--shadow);
	--shadow-sm: var(--shadow-sm);
	--shadow-xs: var(--shadow-xs);
	--shadow-2xs: var(--shadow-2xs);
	--spacing: var(--spacing);
	--letter-spacing: var(--letter-spacing);
	--shadow-offset-y: var(--shadow-offset-y);
	--shadow-offset-x: var(--shadow-offset-x);
	--shadow-spread: var(--shadow-spread);
	--shadow-blur: var(--shadow-blur);
	--shadow-opacity: var(--shadow-opacity);
	--shadow-color: var(--shadow-color);
	--color-destructive-foreground: var(--destructive-foreground);
}

:root {
	--radius: 0.5rem;
	--background: oklch(0.9702 0 0);
	--foreground: oklch(0.2178 0 0);
	--card: oklch(1.0000 0 0);
	--card-foreground: oklch(0.2178 0 0);
	--popover: oklch(1.0000 0 0);
	--popover-foreground: oklch(0.2178 0 0);
	--primary: oklch(0.5740 0.0897 201.8583);
	--primary-foreground: oklch(1.0000 0 0);
	--secondary: oklch(0.9067 0 0);
	--secondary-foreground: oklch(0.2178 0 0);
	--muted: oklch(0.9551 0 0);
	--muted-foreground: oklch(0.5510 0.0234 264.3637);
	--accent: oklch(0.9067 0 0);
	--accent-foreground: oklch(0.2178 0 0);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--border: oklch(0.9310 0 0);
	--input: oklch(0.9551 0 0);
	--ring: oklch(0.5740 0.0897 201.8583);
	--chart-1: oklch(0.5740 0.0897 201.8583);
	--chart-2: oklch(0.8712 0.1363 154.4491);
	--chart-3: oklch(0.7090 0.1592 293.5412);
	--chart-4: oklch(0.8369 0.1644 84.4286);
	--chart-5: oklch(0.7253 0.1752 349.7607);
	--sidebar: oklch(1.0000 0 0);
	--sidebar-foreground: oklch(0.2178 0 0);
	--sidebar-primary: oklch(0.5740 0.0897 201.8583);
	--sidebar-primary-foreground: oklch(1.0000 0 0);
	--sidebar-accent: oklch(0.9067 0 0);
	--sidebar-accent-foreground: oklch(0.2178 0 0);
	--sidebar-border: oklch(0.8717 0.0093 258.3382);
	--sidebar-ring: oklch(0.5740 0.0897 201.8583);
	--destructive-foreground: oklch(1.0000 0 0);
	--font-sans: sans-serif;
	--font-serif: serif;
	--font-mono: monospace;
	--shadow-color: 0 0 0;
	--shadow-opacity: 0.02;
	--shadow-blur: 0.75px;
	--shadow-spread: -0.5px;
	--shadow-offset-x: 0;
	--shadow-offset-y: 0.25rem;
	--letter-spacing: 0;
	--spacing: 0.25rem;
	--shadow-2xs: 0 0.25rem 0.75px -0.5px hsl(0 0 0 / 0.01);
	--shadow-xs: 0 0.25rem 0.75px -0.5px hsl(0 0 0 / 0.01);
	--shadow-sm: 0 0.25rem 0.75px -0.5px hsl(0 0 0 / 0.02), 0 1px 2px -1.5px hsl(0 0 0 / 0.02);
	--shadow: 0 0.25rem 0.75px -0.5px hsl(0 0 0 / 0.02), 0 1px 2px -1.5px hsl(0 0 0 / 0.02);
	--shadow-md: 0 0.25rem 0.75px -0.5px hsl(0 0 0 / 0.02), 0 2px 4px -1.5px hsl(0 0 0 / 0.02);
	--shadow-lg: 0 0.25rem 0.75px -0.5px hsl(0 0 0 / 0.02), 0 4px 6px -1.5px hsl(0 0 0 / 0.02);
	--shadow-xl: 0 0.25rem 0.75px -0.5px hsl(0 0 0 / 0.02), 0 8px 10px -1.5px hsl(0 0 0 / 0.02);
	--shadow-2xl: 0 0.25rem 0.75px -0.5px hsl(0 0 0 / 0.05);
	--tracking-normal: 0;
}

.dark {
	--background: oklch(0.2303 0.0125 264.2926);
	--foreground: oklch(0.9702 0 0);
	--card: oklch(0.2690 0.0155 269.0992);
	--card-foreground: oklch(0.9702 0 0);
	--popover: oklch(0.2690 0.0155 269.0992);
	--popover-foreground: oklch(0.9702 0 0);
	--primary: oklch(0.5740 0.0897 201.8583);
	--primary-foreground: oklch(0.9702 0 0);
	--secondary: oklch(0.3020 0.0168 270.8074);
	--secondary-foreground: oklch(0.9702 0 0);
	--muted: oklch(0.3020 0.0168 270.8074);
	--muted-foreground: oklch(0.7272 0.0217 264.4311);
	--accent: oklch(0.3020 0.0168 270.8074);
	--accent-foreground: oklch(0.9702 0 0);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--border: oklch(0.3156 0.0159 259.7993);
	--input: oklch(0.2690 0.0155 269.0992);
	--ring: oklch(0.5740 0.0897 201.8583);
	--chart-1: oklch(0.5740 0.0897 201.8583);
	--chart-2: oklch(0.8712 0.1363 154.4491);
	--chart-3: oklch(0.7090 0.1592 293.5412);
	--chart-4: oklch(0.8369 0.1644 84.4286);
	--chart-5: oklch(0.7253 0.1752 349.7607);
	--sidebar: oklch(0.2690 0.0155 269.0992);
	--sidebar-foreground: oklch(0.9702 0 0);
	--sidebar-primary: oklch(0.5740 0.0897 201.8583);
	--sidebar-primary-foreground: oklch(0.9702 0 0);
	--sidebar-accent: oklch(0.3020 0.0168 270.8074);
	--sidebar-accent-foreground: oklch(0.9702 0 0);
	--sidebar-border: oklch(0.4455 0.0374 257.2808);
	--sidebar-ring: oklch(0.5740 0.0897 201.8583);
	--destructive-foreground: oklch(0.9702 0 0);
	--radius: 0.5rem;
	--font-sans: sans-serif;
	--font-serif: serif;
	--font-mono: monospace;
	--shadow-color: 0 0 0;
	--shadow-opacity: 0.02;
	--shadow-blur: 0.75px;
	--shadow-spread: -0.5px;
	--shadow-offset-x: 0;
	--shadow-offset-y: 0.5rem;
	--letter-spacing: 0;
	--spacing: 0.25rem;
	--shadow-2xs: 0 0.5rem 0.75px -0.5px hsl(0 0 0 / 0.01);
	--shadow-xs: 0 0.5rem 0.75px -0.5px hsl(0 0 0 / 0.01);
	--shadow-sm: 0 0.5rem 0.75px -0.5px hsl(0 0 0 / 0.02), 0 1px 2px -1.5px hsl(0 0 0 / 0.02);
	--shadow: 0 0.5rem 0.75px -0.5px hsl(0 0 0 / 0.02), 0 1px 2px -1.5px hsl(0 0 0 / 0.02);
	--shadow-md: 0 0.5rem 0.75px -0.5px hsl(0 0 0 / 0.02), 0 2px 4px -1.5px hsl(0 0 0 / 0.02);
	--shadow-lg: 0 0.5rem 0.75px -0.5px hsl(0 0 0 / 0.02), 0 4px 6px -1.5px hsl(0 0 0 / 0.02);
	--shadow-xl: 0 0.5rem 0.75px -0.5px hsl(0 0 0 / 0.02), 0 8px 10px -1.5px hsl(0 0 0 / 0.02);
	--shadow-2xl: 0 0.5rem 0.75px -0.5px hsl(0 0 0 / 0.05);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
	}
}